<!doctype html>
<html ng-app="ang-UiTask">

<head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.9.0.js"></script>
    <script src="app.js"></script>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <style>
    .redcolor .progress-bar{
        background-color: red !important;
    }
    </style>
</head>

<body ng-controller="barCtrl">
    <div class="row">
        <div class="col-md-12">
           <div ng-class="{'redcolor': value > 100}" ng-repeat="(key, value) in epoint.bars  track by $index">
                <progressbar value="value"><span style="color:white; white-space:nowrap;">{{value}}%</span></progressbar>
            </div>


        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div>
            <select ng-model="progress.probarId" >
                <option ng-repeat="(key, value) in epoint.bars  track by $index" value="{{$index}}">#progress{{$index+1}}</option>
            </select>

            </div>
        </div>
        <div class="col-md-6">
            <button type="button" class="btn btn-sm btn-primary" ng-click="changeValue(epoint.buttons[0])">{{epoint.buttons[0]}}</button>
            <button type="button" class="btn btn-sm btn-primary" ng-click="changeValue(epoint.buttons[1])">{{epoint.buttons[1]}}</button>
            <button type="button" class="btn btn-sm btn-primary" ng-click="changeValue(epoint.buttons[2])">{{epoint.buttons[2]}}</button>
            <button type="button" class="btn btn-sm btn-primary" ng-click="changeValue(epoint.buttons[3])">{{epoint.buttons[3]}}</button>
        </div>

    </div>
    
</body>

</html>